* {
	font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navvy{
    position: fixed;
    width: 50%;
    z-index: -1;
    cursor: pointer;
}
.csse{

    border: none;
    background-color: white;
    margin-left: 10px;
}
.nav-item{
    margin-right: 5px;
}
#classlist:hover, #amongus:hover, #searchy:hover, #studs:hover, #homess:hover, #insights:hover{
    border-radius: 0;
    color: white;
    background-color: #222e50;
}
#studs{
    color: white;
    background-color: #222e50;
}
h6{
    color: red;
}
.imgg{
    width: 20px;
}
li {
    list-style-type: none;
}
hr.liness {
    border: 43px solid #c9c9c9fa;
    margin: 0;
  }
#imggg{
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
    margin-top: 10px;
    margin-right: 40px;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
label{
    font-weight: 500;
    font-size: 19px;
}
.form-control, input[type=date]{
    border-left: none;
    border-right: none;
    border-top: none;
}
input, #gender, #college{
    margin-top: 15px;
}
form{
    margin-left: 10px;
}
#EName, #gender,#nattion, #LName, #FName{
    margin-bottom: 20px;
}
.required:before {
    content:" *";
    color: red;
  }
.custom-file-input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.custom-file{
    margin-top: 15px;
}
#save{
    background-color: #1dff18;
    border: none;
    margin-left: 180px;
    margin-top: 100px;
    width: 100px;
    float: right;
}
#save:hover{
    background-color: darkgreen;
    color: white;
}
#cancel{
    background-color: #ff0000;
    border: none;
    margin-top: 100px;
    margin-left: 50px;
    width: 100px;
    float: right;
}
#cancel:hover{
    background-color: darkred;
    color: white;
}

