* {
	font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navvy{
    position: fixed;
    width: 50%;
    z-index: -1;
    cursor: pointer;
}
.nav-item{
    margin-right: 5px;
}
#classlist:hover, #amongus:hover, #searchy:hover, #studs:hover, #homess:hover, #insights:hover{
    border-radius: 0;
    color: white;
    background-color: #222e50;
}
#recordDropdown{
    color: white;
    background-color: #222e50;
}
.imgg{
    width: 20px;
}
li {
    list-style-type: none;
}
hr.liness {
    border: 43px solid #c9c9c9fa;
    margin: 0;
  }
#imggg{
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
    margin-top: 10px;
    margin-right: 40px;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.table-hover tbody tr:hover td {
    background-color: darkblue;
    color: white;
}
.table-striped tr:nth-child(even) td {
    background-color: lightblue;
}
.table td {
    text-align: center;
    } 
.form-select{
    width: 40%;
    margin-bottom: 10px;
}
.btn-primary{
    margin-left: 114px;
    width: 150px;
    border: none;
    background-color: #222e50;
}
#search{
    margin-right: 100px;
}